bundle:
  name: hospital_ops_nba_app
  databricks_cli_version: ">=0.234.*"

sync:
  include:
    - app/app.yaml

include:
  - variables.yml
  - resources/jobs.yml
  - resources/apps.yml

targets:
  dev:
    mode: development
    default: true

  prod:
    mode: production
    workspace:
      host: ${var.workspace_host}
      root_path: ${var.root_path}
    permissions:
      - user_name: ${var.deploying_user}
        level: CAN_MANAGE
    run_as:
      user_name: ${var.deploying_user}
